POSTTEST 4 PRAKTIKUM KECERDASAN BUATAN

NAMA : MOHAMMAD FHADIL HAFIDS HARSANDI
NIM  : 2109106072

LINK DATASET : https://drive.google.com/file/d/18b8g24I6PkXcEluEgM1zp2n3E7R3CRE9/view?usp=drive_link

Import Library / Modul yang diperlukan

In [84]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

Membaca Dataset

In [85]:
data=pd.read_csv("Dataset-SA.csv")

MAAF BANG, KARENA TIPE DATANYA BERBEDA DENGAN YANG DI KAGGLE JADI SAYA UBAH TIPE DATANYA

In [86]:
data = data[data["product_price"].str.isnumeric()]
data["product_price"] = data["product_price"].astype("int64")

data = data[data["Rate"].str.isnumeric()]
data["Rate"] = data["Rate"].astype("int64")

-----------------------------------------------------------------------------------------------------------------------------

Membagi dataset menjadi training set dan testing set dengan proporsi 70:30

=============================================================================================================================

In [87]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

print("===== TRAINING dan TESTING SETS =====")
print("-------------------------------------")
print("| Dimension of x_train |", X_train.shape, "  |")
print("| Dimension of x_test  |", X_test.shape, "  |")
print("| Dimension of y_train |", y_train.shape, "  |")
print("| Dimension of y_test  |", y_test.shape, "  |")
print("-------------------------------------")

===== TRAINING dan TESTING SETS =====
-------------------------------------
| Dimension of x_train | (143534, 5)   |
| Dimension of x_test  | (61515, 5)   |
| Dimension of y_train | (143534,)   |
| Dimension of y_test  | (61515,)   |
-------------------------------------

-----------------------------------------------------------------------------------------------------------------------------

Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler

=============================================================================================================================

In [88]:
atribut_normalisasi_normal = data.copy()
atribut_normalisasi = data['product_price'].values.reshape(-1, 1)

scaler = MinMaxScaler()

atribut_normalisasi_normal = scaler.fit_transform(atribut_normalisasi)
data['product_price'] = atribut_normalisasi
print(atribut_normalisasi_normal)

[[0.0453233 ]
 [0.0453233 ]
 [0.0453233 ]
 ...
 [0.01426419]
 [0.01426419]
 [0.01426419]]

-----------------------------------------------------------------------------------------------------------------------------

Lakukan standarisasi pada dataset

=============================================================================================================================

In [89]:
data_copy = data.copy()
scale = StandardScaler()
attribute = 'product_price'
data_copy[[attribute]] = standard_scaler.fit_transform(data_copy[[attribute]])
print(data_copy)

                                             product_name  product_price  \
0       Candes 12 L Room/Personal Air Cooler??????(Whi...      -0.013779
1       Candes 12 L Room/Personal Air Cooler??????(Whi...      -0.013779
2       Candes 12 L Room/Personal Air Cooler??????(Whi...      -0.013779
3       Candes 12 L Room/Personal Air Cooler??????(Whi...      -0.013779
4       Candes 12 L Room/Personal Air Cooler??????(Whi...      -0.013779
...                                                   ...            ...
205047  cello Pack of 18 Opalware Cello Dazzle Lush Fi...      -0.287006
205048  cello Pack of 18 Opalware Cello Dazzle Lush Fi...      -0.287006
205049  cello Pack of 18 Opalware Cello Dazzle Lush Fi...      -0.287006
205050  cello Pack of 18 Opalware Cello Dazzle Lush Fi...      -0.287006
205051  cello Pack of 18 Opalware Cello Dazzle Lush Fi...      -0.287006

        Rate           Review  \
0          5           super!
1          5          awesome
2          3             fair
3          1  useless product
4          3             fair
...      ...              ...
205047     5        must buy!
205048     5           super!
205049     3             nice
205050     5        just wow!
205051     4  value-for-money

                                                  Summary Sentiment
0       great cooler excellent air flow and for this p...  positive
1                   best budget 2 fit cooler nice cooling  positive
2       the quality is good but the power of air is de...  positive
3                       very bad product its a only a fan  negative
4                                           ok ok product   neutral
...                                                   ...       ...
205047                                       good product  positive
205048                                               nice  positive
205049                        very nice and fast delivery  positive
205050                                    awesome product  positive
205051  very good but mixing bowl not included is one ...   neutral

[205049 rows x 6 columns]

-----------------------------------------------------------------------------------------------------------------------------

Lakukan Data cleaning pada data dengan nilai null

=============================================================================================================================

In [90]:
from sklearn.impute import SimpleImputer
attribute = {
    'product_price': data['product_price'].median(),
    'Rate': data['Rate'].median(),
    'Sentiment': data['Sentiment'].mode()[0]
}

data_cleaned = data.fillna(value=attribute)
print("\nDataset setelah data cleaning:")
print("Jumlah Record Yang memiliki nilai null: ")
print(data_cleaned.isnull().sum())

Dataset setelah data cleaning:
Jumlah Record Yang memiliki nilai null:
product_name         0
product_price        0
Rate                 0
Review           24664
Summary             11
Sentiment            0
dtype: int64

In [91]:
imputer = SimpleImputer(strategy='most_frequent')
columns_to_impute = ["Review", "Summary"]
data[columns_to_impute] = imputer.fit_transform(data[columns_to_impute])
print(data.isna().sum())

product_name     0
product_price    0
Rate             0
Review           0
Summary          0
Sentiment        0
dtype: int64

-----------------------------------------------------------------------------------------------------------------------------

Lakukan Data cleaning pada data dengan nilai duplikat.

=============================================================================================================================

In [92]:
print("Data yang memiliki nilai duplikat")
data.duplicated().sum()

Data yang memiliki nilai duplikat

34381

In [93]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0

-----------------------------------------------------------------------------------------------------------------------------

Ganti tipe data salah satu attribute angka

=============================================================================================================================

In [94]:
data['product_price'] = data['product_price'].astype(str)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170668 entries, 0 to 205051
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   product_name   170668 non-null  object
 1   product_price  170668 non-null  object
 2   Rate           170668 non-null  int64
 3   Review         170668 non-null  object
 4   Summary        170668 non-null  object
 5   Sentiment      170668 non-null  object
dtypes: int64(1), object(5)
memory usage: 9.1+ MB

-----------------------------------------------------------------------------------------------------------------------------

Lakukan one hot encoding pada dataset

=============================================================================================================================

In [95]:
onehot_encoder = OneHotEncoder(sparse = False)

onehot = onehot_encoder.fit_transform(data[["Rate"]])

dataset_onehot = pd.DataFrame(onehot)

dataset_onehot.head()

c:\Users\Mohammad Fhadil\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

     0    1    2    3    4
0  0.0  0.0  0.0  0.0  1.0
1  0.0  0.0  0.0  0.0  1.0
2  0.0  0.0  1.0  0.0  0.0
3  1.0  0.0  0.0  0.0  0.0
4  0.0  0.0  1.0  0.0  0.0

In [96]:
data = data.join(dataset_onehot)

data.head()

,product_name,product_price,Rate,Review,Summary,Sentiment,0,1,2,3,4
0,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,super!,great cooler excellent air flow and for this p...,positive,0.0,0.0,0.0,0.0,1.0
1,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,5,awesome,best budget 2 fit cooler nice cooling,positive,0.0,0.0,0.0,0.0,1.0
2,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,the quality is good but the power of air is de...,positive,0.0,0.0,1.0,0.0,0.0
3,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,1,useless product,very bad product its a only a fan,negative,1.0,0.0,0.0,0.0,0.0
4,Candes 12 L Room/Personal Air Cooler??????(Whi...,3999,3,fair,ok ok product,neutral,0.0,0.0,1.0,0.0,0.0